<div class="container">
  <h2>session-storage.component:</h2>

  <a
    href="https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage"
    >https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage</a
  >
  <p style="color: blue">
    window.sessionStorage: là biến global luôn ở TypeScript.
    <br />
    + bản chất là 1 HashMap. cùng chùng Storage interface với
    window.localStorage => dùng giống hệt
    <br />
    + khác biệt ở chỗ nó chỉ có tác dụng trong 1 browser window tab thôi (các
    tab khác nhau sẽ khác nhau)
    <br />
    + khi reload URL trên window Tab thì window.localStorage và
    window.sessionStorage ko bị xóa (tested)
  </p>
  <p>
    + xóa window.localStorage ở Browser cookies
    <br />
    + mở browser tab khác để xem kết quả
    <br />
    + reload URL trên window tab address bar để xem kết quả
    <br />
    + test với Browser khác (chrome, edge, firefox)
  </p>

  <h3>store.length = {{ store.length }}</h3>
  <h3>store.keys = {{ keys | json }}</h3>

  <h3 *ngIf="key1 == null">key1 = null</h3>

  <h3 *ngIf="key1 != null">key1 = {{ key1 }}</h3>

  <button (click)="onSetItem()">store.setItem(key, value)</button>

  <button (click)="onGetItem()">store.getItem(key)</button>

  <button (click)="onRemoveItem()">store.removeItem(key)</button>

  <div>
    <button (click)="onSetItem2()">add key2,key3, key4</button>
    <button (click)="onGetKeys()">store.key(n)</button>
    <button (click)="onClear()">store.clear()</button>
  </div>
</div>
